body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    padding-top: 30px;
    color: #66BFBF;
    margin: 50px auto 0 auto;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
}

h2 {
    color: #66BFBF;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

p {
    color: #40514e;
    margin: 25px auto 0 auto;
    line-height: 2;
}

.top-container {
    background-color: #8afcfc;
    position: relative;
    height: 100vh;
    padding-top: 100px;
}

hr {
    margin: 100px auto;
    border: none;
    width: 1rem;
    height: 1rem;
    background: lightgray;
    border-radius: 1rem;
    box-shadow:
        -4rem 0 lightgray,
        -2rem 0 lightgray,
        2rem 0 lightgray,
        4rem 0 lightgray;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    margin-top: 100px;
    background-color: #66BFBF;
}

.pro {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 200px;
    bottom: 300px;
}

.mountain {
    bottom: 0px;
    left: 50%;
    margin-top: -178.5px; /*half the height*/
    margin-left: -299px; /*half the width*/
    position: absolute;
}

.skill-row {
    text-align: left;
    margin: 100px auto 100px auto;
    width: 50%;
    line-height: 2;
}

.profile-avatar {
    float: center;
    width: 15%;
}

.introduction {
    margin: auto;
    width: 30%
}

.about-me {
    margin: auto;
    width: 30%
}

ul {
    column-gap: 30px;
    column-count: 3;
    color: #40514e;
    margin: 25px auto 0 auto;
    line-height: 2;
    text-align: left;
}

.tech-stack {
    font-weight: bold;
}

.project-github {
    width: 5%;
}

.project-website {
    width: 5%;
}

.sword-img {
    width: 35%;
    float: left;
    margin-right: 30px;
}

.cloud-img {
    width: 35%;
    float: right;
    margin-left: 30px;
}

.email-img {
    width: 15%;
    float: center;
}


.get-in-touch-desc {
    width: 50%;
    margin-bottom: 50px;
}

.github-logo {
    width: 5%;
    margin: 50px auto 0px 10px;
}

.website-icon {
    width: 5%;
    margin: 50px auto 0px 10px;
}

.linkedin-logo {
    width: 5%;
    margin: 50px 10px 0px auto;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
 }

.copywrite {
    color: #EAF6F6;
}

.credits {
    margin-top: 25px;
}
